body {
	background-color: #1b1e23;
	font-family: 'Montserrat';
}

.flexbox-vertical {
	display: flex;
	flex-direction: column;
}

.flexbox-horizontal {
	display: flex;
	flex-direction: row;
}

.wallpaper {
	background: url("https://github.com/kjxlstad/androidHomescreen/blob/master/wallpapers/5.png?raw=true");
	background-size: cover;
}

.box {
	background-color: #24272E;
	margin: 20px;
	border-radius: 30px;
}
.s1u {
	width: 180px;
	height: 180px;
}

.s2u {
	width: 400px;
	height: 180px;
}

.s4u {
	width: 400px;
	height: 400px;
}

p {
	color: #f1f1f1aa;
	font-size: 14px;
	font-weight: bold;
}
