body {
	background-color: #1b1e23;
	font-family: 'Montserrat';
	margin: 0 20px;
}

.proportional {
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	float: left;
	height: 0;
}

.grid-box {
	display: grid;
	grid-template-areas:
		'single0 single1 quad quad'
		'double double quad quad';
	grid-gap: 20px;
	
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.grid-box > div {
	background-color: #24272E;;
	border-radius: 30px;
	width: 100%;
	height: 100%;
}

.single0 {grid-area: single0;}
.single1 {grid-area: single1;}
.double {grid-area: double;}

.wallpaper {
	grid-area: quad;
	background: url("https://github.com/kjxlstad/androidHomescreen/blob/master/wallpapers/5.png?raw=true");
	background-size: cover;
}

.title {
	display: flex;
	justify-content: space-between;
}

h1 {
	color: #F1F1F1;
	font-size: 22px;
	font-weight: bold;
}

p {
	color: #f1f1f1aa;
	font-size: 14px;
	font-weight: bold;
}
